<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>iBioML Mission | University of Washington Bothell</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="../../static/biotech/index.css">
</head>

<body>

    <!-- First navigation bar -->
    {% include 'header/header.html' %}

    <h1>M I S S I O N</h1>

    <p>Our mission is to develop innovative algorithms and software programs that can analyze and comprehend biological
        data in the fields of bioinformatics, systems biology, and computational biology. By leveraging computer science
        tools, we aim to tackle real-world challenges in biology and medicine and make a positive impact on human health
        and field of biology.</p>

    <p>We aim to tackle the challenges associated with managing complex biological data, which represents a significant
        research opportunity. We are particularly interested in the field of pattern recognition in bioinformatics, with
        a focus on identifying and analyzing biological motifs. By leveraging advanced computational methods and
        software tools, we aim to enhance our understanding of biological systems and contribute to the field.</p>

    <p>Given the multidisciplinary nature of bioinformatics research, we are actively collaborating with biologists and
        medical practitioners. By working together and combining our expertise, allows us to bring together diverse
        perspectives and generate innovative ideas that can lead to breakthrough discoveries in the field.
    </p>

    <br><br>
    {% include 'footer/footer.html' %}

</body>

</html>