<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    {% block content %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
        {% for key, value in form.errors.items %}
        <strong>{{ value }}</strong>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% endif %}
        <label>First Name</label>
        {{ form.first_name }}
        <br>
        <br>
        <label>Last Name</label>
        {{ form.last_name }}
        <br>
        <br>
        <label>Username</label>
        {{ form.username }}
        <br>
        <br>
        <label>Email</label>
        {{ form.email }}
        <br>
        <br>
        <label>Password</label>
        {{ form.password1 }}
        {{ form.errors.password }}
        <br>
        <br>
        <label>Confirm Password</label>
        {{ form.password2 }}
        <br>
        <br>
        <p><strong>Domain Expert:</strong> Publishes the project, proposal, datasets, etc. Usually a graduate or a
            professor.</p>
        <p><strong>Practitioner</strong> Publishes the project solution. Usually a student.</p>
        <br>
        <br>
        <p><strong>Choose a role wisely</strong></p>
        <label>Role</label>
        {{form.role}}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button type="submit">Sign Up</button><br><br>
    </form>
    {% endblock content %}

    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
</body>

</html>