<footer>
    <div class="footer-content">
        {% load static %}
        <img class="move-right" src="{% static '../static/biotech/images/BrandLogoHeader-UWB-white.png' %}" alt="logo">
        <ul class="socials">
            <li><a href="https://www.facebook.com/uwbothell%22%3E%22%3E"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/UWBothell%22%3E%22%3E"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/school/university-of-washington-bothell/%22%3E%22%3E">
                    <i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://www.youtube.com/user/uwbothell%22%3E%22%3E"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/uw_bothell/%22%3E%22%3E"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <div class="footer-bottom">
            <p style="white-space: nowrap;">&copy; Universiy of Washington | Bothell, WA</p>
        </div>
    </div>
</footer>