<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Collaborators | University of Washington Bothell</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '../static/biotech/index.css' %}">
</head>

<body>

  {% include 'header/header.html' %}

  <h1>Collaborators</h1>

  <section class="grid-container">
    <div class="grid-item">
      <!-- <img src="../images/CHEN_BERNARD-0197.jpg"> -->
      <p class="grid-paragraph">
        <a href="http://faculty.uca.edu/bchen/" target="_blank" class="paragraph_ul">Dr. Bernard Chen</a><br>
        Associate Professor <br>
        Computer Science at University of Central Arkansas
      </p>
    </div>
    <div class="grid-item">
      <!-- <img src="http://faculty.washington.edu/mfukuda/mfukuda.jpg"> -->
      <p class="grid-paragraph">
        <a href="http://faculty.washington.edu/mfukuda/" target="_blank" class="paragraph_ul">Dr. Munehiro
          Fukuda</a><br>
        Professor <br>
        Computing and Software Systems at the University of Washington Bothell
      </p>
    </div>
    <div class="grid-item">
      <img src="https://www.uwb.edu/getattachment//biological-sciences/faculty/khillesland.png">
      <p class="grid-paragraph">
        <a href="https://www.uwb.edu/stem/faculty/bs-faculty/biology/khillesland" target="_blank"
          class="paragraph_ul">Dr. Kristina Hillesland</a><br>
        Associate Professor <br>
        Biological Science at University of Washington Bothell
      </p>
    </div>
    <div class="grid-item">
      <img src="http://bioinformatics.csu.edu.cn/limin/images/limin.jpg">
      <p class="grid-paragraph">
        <a href="http://bioinformatics.csu.edu.cn/limin/index_en.html" target="_blank" class="paragraph_ul">Dr. Min
          Li</a><br>
        Professor, Vice Dean <br>
        School of Information Science and Engineering at Central South University, China
      </p>
    </div>
    <div class="grid-item">
      <img src="../images/blank-profile-picture.webp">
      <p class="grid-paragraph">
        <a href="http://www.sergheimangul.com/" target="_blank" class="paragraph_ul">Dr. Serghei Mangul</a><br>
        Associate Professor <br>
        Titus Department of Clinical Pharmacy <br>
        University of Southern California, Los Angeles
      </p>
    </div>
    <div class="grid-item">
      <img src="../images/blank-profile-picture.webp">
      <p class="grid-paragraph">
        <a href="https://csds.gsu.edu/" target="_blank" class="paragraph_ul">Dr. Yi Pan</a><br>
        Distinguished University Professor and Interim Associate Dean <br>
        Department of Computer Science <br>
        Georgia State University
      </p>
    </div>
    <div class="grid-item">
      <img src="https://faculty.cc.gatech.edu/~hpark/index_files/hpw.jpg">
      <p class="grid-paragraph">
        <a href="https://faculty.cc.gatech.edu/~hpark/" target="_blank" class="paragraph_ul">Dr. Haesun Park</a><br>
        Regents' Professor <br>
        School of Computational Science and Engineering at Georgia Institute of Technology
      </p>
    </div>
    <div class="grid-item">
      <img
        src="https://rehg.org/author/james-m.-rehg/avatar_hub2d5e9b795e50dd5dc8e80f9a37a014d_32041_200x200_fill_q90_lanczos_center.jpg?s=200%27">
      <p class="grid-paragraph">
        <a href="https://rehg.org/" target="_blank" class="paragraph_ul">Dr. James Rehg</a><br>
        Professor <br>
        School of Interactive Computing, College of Computing at Georgia Institute of Technology
      </p>
    </div>
    <div class="grid-item">
      <img src="http://faculty.washington.edu/seps/wp-content/uploads/2020/03/droppedImage.jpg">
      <p class="grid-paragraph">
        <a href="http://faculty.washington.edu/seps/" target="_blank" class="paragraph_ul">Dr. Stephen Smith</a><br>
        Associate Professor
        <br>
        Department of Pediatrics and Graduate Program in Neuroscience at the University of Washington <br>
        Seattle Children's Research Institute, Center for Integrative Brain Research
      </p>
    </div>
  </section>

  {% include 'footer/footer.html' %}

</body>

</html>