<!DOCTYPE html>
<html>
  <head>
    <title>Faculty Profile</title>
    <link href="../css/core-faculty.css" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="header">
        <div class="header-container" id="header-container">
            <div class="header-container1" id="header-container1"> 
                <a href="https://www.uwb.edu" class="uwblogo" title="University of Washington Home" target="_blank">
                        <img src="../images/w-logo-sprite.png" alt="uwblogo">				
                </a>
                <a href="https://www.uwb.edu" class="uwblogo1" title="University of Washington Home" target="_blank">
                    <img src="../images/Wordmark_center_Purple_Hex.png" style="margin-top: 20px;" alt="uwblogotemplate">				
                </a>
            </div>
            <div>
                <form class="example" action="action_page.php">
                    <i class='bx bx-key'> Login</i>
                    <i class='bx bx-search'></i>
                </form>
            </div>
        </div>	
    </header>

    <nav class="main-menus" id="main-menus">
            <div class="menus-containers">
                <ul class="menus-nav">
                    <li class="menus-item"><a href="../template.html">HOME</a></li>
                    <li class="menus-item"><a href="#">RESEARCH</a></li>
                    <li class="menus-item"><a href="#">PEOPLE</a></i>
                        <ul class="dropdown">
                            <li><a href="../html/core-faculty.html">Core Faculty</a></li>
                            <li><a href="../html/people-collaborator.html">Collaborator</a></li>
                        </ul>
                    </li>
                    <li class="menus-item"><a href="#">ABOUT</a></i>
                        <ul class="dropdown">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Direction</a></li>
                            <li><a href="#">Mission</a></li>
                        </ul>
                    </li>								
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container">
        <h1 style="color: #4b2e83; text-align: left; padding-bottom: 15px; font-weight: 900">Faculty Directory</h1>
        <div class="container-background" style="background-color: #f5f5f5">
            <img src="https://www.uwb.edu/getattachment/css/faculty/wkim.png"
            alt="Professor Kim" style="margin-right: 10px; margin-bottom: 5px; float: left;">
            <div>
                <h3>
                    <strong> Wooyoung Kim, Ph.D.</strong>
                    <br>
                    "Associate Professor"
                </h3>
                <p>
                    Dr. Wooyoung Kim received her Ph.D. in computer science at Georgia State University, 
                    Atlanta, GA., in 2012. She has an M.S. in computer science at Georgia Institute of Technology, Atlanta, GA., 
                    and an M.S. and B.S. in mathematics at Yonsei University, Seoul, Korea. She has worked 
                    as a computer programmer and as a researcher in TELSTON, Inc., Seoul, Korea. 
                    She developed various computer-telephony integration systems including CallBank at the company.
                </p>
            </div>
        </div>
        <div class="container-background" style="display: flex; flex-direction: column">
            <h3>Research</h3>
            <p>Dr. Kim's current research interests is in bioinformatics and systems biology, which is, in nature, an interdisciplinary study including not only various areas in computer science (such as machine learning, data mining, numerical analysis, graph theory and pattern recognition), but also various subjects (biology, chemistry, engineering, statistics and physics).
                 Her PhD work was to detect and evaluate biological motifs.
            </p>
        </div>

        <div class="container-education-work">
            <div class="container-education">
                <h3 style="color: #4b2e84; padding-bottom: 10px;">
                    Education
                </h3>
                <p>
                    <strong>Georgia State University</strong>
                    <br>
                    <em>Alanta, GA</em>
                </p>
                <ul>
                    <li>Ph.D. Computer Science</li>
                </ul>
                <p>
                    <strong>Georgia Institute of Technology</strong>
                    <br>
                    <em>Alanta, GA</em>
                </p>
                <ul>
                    <li>M.S. Computer Science</li>
                </ul>
                <p>
                    <strong>Yonsei University</strong>
                    <br>
                    <em>Seoul, Korea</em>
                </p>
                <ul>
                    <li>M.S. Mathematics</li>
                    <li>B.S. Mathematics</li>
                </ul>
            </div>

            <div class="container-work">
                <h3 style="color: #4b2e84; padding-bottom: 10px">
                    Work Experience
                </h3>
                <p>
                    <strong>University of Washington Bothell</strong>
                    <br>
                    <em>Bothell, WA</em>
                    <ul>
                        <li>Associate Professor</li>
                        <li>Assistant Professor</li>
                        <li>Acting Assistant Professor</li>
                    </ul>
                </p>
                <p>
                    <strong>Georgia State University</strong>
                    <br>
                    <em>Atlanta, GA</em>
                    <ul>
                        <li>Graduate Research/Teaching Assistant</li>
                    </ul>
                </p>
                <p>
                    <strong>Georgia Institute of Technology</strong>
                    <br>
                    <em>Atlanta, GA</em>
                    <ul>
                        <li>Graduate Research/Teaching Assistant</li>
                    </ul>
                </p>
                <p>
                    <strong>TELSTON, Inc.,</strong>
                    <br>
                    <em>Seoul, Korea</em>
                    <ul>
                        <li>Junior Researcher</li>
                        <li>Computer Programmer</li>
                    </ul>
                </p>
                <p>
                    <strong>Yonsei University</strong>
                    <br>
                    <em>Seoul, Korea</em>
                    <ul>
                        <li>Graduate Research</li>
                        <li>Teaching Assistant, Mathematics</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="container-services">
            <h3 style="color: #4b2e84; text-align: center;">
                Professional Service
            </h3>
            <p>
                <strong>Comittee: Search, UGCC, UGAC</strong>
                <br>
                <em>STEM Computation Advisory Committee at STEM, University of Washington Bothell</em>
            </p>
            <p>
                <strong>Program Comittee Member</strong>
                <br>
                <em>International Symposium on Bioinformatics Research and Applications (ISBRA)</em>
            </p>
            <p>
                <strong>Reviewer</strong>
                <br>
                <em> Neurocomputing</em>
                <br>
                <em> BMC Bioinformatics</em>
                <br>
                <em>IEEE/ACM Transactions on Computational Biology and Bioinformatics</em>
                <br>
                <em>International Symposium on Bioinformatics Research and Applications</em>
            </p>
            <p>
                <strong>Session chair</strong>      
                <br>
                <em>ISBRA (International Society for Biomedical Research on Alcoholism)</em>
                <br>
                <em>IEEE-BIBM (Bioinforamtics and Biomedicine)</em>
                <em>ACM BCB (Bioinformatics, Computational Bioloby, and Health Informatics)</em>
            </p>
        </div>

        <div class="container-award">
            <h3 style="color: #4b2e84; text-align: center;">
                Awards
            </h3>
            <p>
                <strong>Student Travel Award</strong>
                <br>
                <em>IEEE International Conference on Bioinformatics and Biomedicine</em>
            </p>
            <p>
                <strong>Fellowship</strong>
                <br>
                <em>Molecular Basis of Disease (MBD) fellowship</em>
                <em>Kwanjeong Educational Foundation</em>
            </p>
            <p>
                <strong>Newspaper. Featured in the Kyung-Hyang daily newspaper in an article entitled, "Geniuses of the N Generation"</strong>
                <br>
                <em>Seoul, Korea</em>
            </p>
            <p>
                <strong>Dean's list - Scholarship</strong>      
                <br>
                <em>Yonsei University, Seoul, Korea</em>
                <br>
                <em>Hong San Scholarship, Seoul, Korea</em>
            </p>
        </div>

    </div>

    <footer>

    </footer>
</body>
</html>