<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>iBioML | University of Washington Bothell</title>
  <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
  <div class="navbar">
    <div>
      <img src="../images/w-logo-sprite.png" class="wlogo">
      <img src="../images/BrandLogoHeader-UWB-white.png" class="uwblogo">
    </div>
    <div class="right">
      <div class="circle">
        <i class="fa fa-search"></i>
      </div>
      <a href="#">Login</a>
    </div>
  </div>

  <nav class="main-menus" id="main-menus">
    <div class="menus-containers">
      <ul class="menus-nav">
        <li class="menus-item"><a href="#">ABOUT</a>
          <i class="fa fa-arrow-down"></i>


          <ul class="dropdown">
            <li><a href="../templates/html/contact/contact-kush.html">Contact</a></li>
            <li><a href="#">Direction</a></li>
            <li><a href="#">Mission</a></li>
          </ul>
        </li>
        <li class="menus-item"><a href="#">RESEARCH</a>
          <i class="fa fa-arrow-down"></i>
          <ul class="dropdown">
            <li><a href="">Projects</a></li>
          </ul>
        </li>

        <li class="menus-item"><a href="#">PEOPLE</a></i>
          <i class="fa fa-arrow-down"></i>
          <ul class="dropdown">
            <li><a href="html/core-faculty.html">Core Faculty</a></li>
            <li><a href="html/people-collaborator.html">Collaborator</a></li>
          </ul>
        </li>

        </li>
      </ul>
    </div>
  </nav>
  <h1>Collaborators</h1>

  <section class="grid-container">
    <div class="grid-item">
      <!-- <img src="../images/CHEN_BERNARD-0197.jpg"> -->
      <p class="grid-paragraph">
        <a href="http://faculty.uca.edu/bchen/" target="_blank" class="paragraph_ul">Dr. Bernard Chen</a><br>
        Associate Professor <br>
        Computer Science at University of Central Arkansas
      </p>
    </div>
    <div class="grid-item">
      <img src="http://faculty.washington.edu/mfukuda/mfukuda.jpg">
      <p class="grid-paragraph">
        <a href="http://faculty.washington.edu/mfukuda/" target="_blank" class="paragraph_ul">Dr. Munehiro
          Fukuda</a><br>
        Professor <br>
        Computing and Software Systems at the University of Washington Bothell
      </p>
    </div>
    <div class="grid-item">
      <img src="https://www.uwb.edu/getattachment//biological-sciences/faculty/khillesland.png">
      <p class="grid-paragraph">
        <a href="https://www.uwb.edu/stem/faculty/bs-faculty/biology/khillesland" target="_blank"
          class="paragraph_ul">Dr. Kristina Hillesland</a><br>
        Associate Professor <br>
        Biological Science at University of Washington Bothell
      </p>
    </div>
    <div class="grid-item">
      <img src="http://bioinformatics.csu.edu.cn/limin/images/limin.jpg">
      <p class="grid-paragraph">
        <a href="http://bioinformatics.csu.edu.cn/limin/index_en.html" target="_blank" class="paragraph_ul">Dr. Min
          Li</a><br>
        Professor, Vice Dean <br>
        School of Information Science and Engineering at Central South University, China
      </p>
    </div>
    <div class="grid-item">
      <img src="../images/blank-profile-picture.webp">
      <p class="grid-paragraph">
        <a href="http://www.sergheimangul.com/" target="_blank" class="paragraph_ul">Dr. Serghei Mangul</a><br>
        Associate Professor <br>
        Titus Department of Clinical Pharmacy <br>
        University of Southern California, Los Angeles
      </p>
    </div>
    <div class="grid-item">
      <img src="../images/blank-profile-picture.webp">
      <p class="grid-paragraph">
        <a href="https://csds.gsu.edu/" target="_blank" class="paragraph_ul">Dr. Yi Pan</a><br>
        Distinguished University Professor and Interim Associate Dean <br>
        Department of Computer Science <br>
        Georgia State University
      </p>
    </div>
    <div class="grid-item">
      <img src="https://faculty.cc.gatech.edu/~hpark/index_files/hpw.jpg">
      <p class="grid-paragraph">
        <a href="https://faculty.cc.gatech.edu/~hpark/" target="_blank" class="paragraph_ul">Dr. Haesun Park</a><br>
        Regents' Professor <br>
        School of Computational Science and Engineering at Georgia Institute of Technology
      </p>
    </div>
    <div class="grid-item">
      <img
        src="https://rehg.org/author/james-m.-rehg/avatar_hub2d5e9b795e50dd5dc8e80f9a37a014d_32041_200x200_fill_q90_lanczos_center.jpg?s=200%27">
      <p class="grid-paragraph">
        <a href="https://rehg.org/" target="_blank" class="paragraph_ul">Dr. James Rehg</a><br>
        Professor <br>
        School of Interactive Computing, College of Computing at Georgia Institute of Technology
      </p>
    </div>
    <div class="grid-item">
      <img src="http://faculty.washington.edu/seps/wp-content/uploads/2020/03/droppedImage.jpg">
      <p class="grid-paragraph">
        <a href="http://faculty.washington.edu/seps/" target="_blank" class="paragraph_ul">Dr. Stephen Smith</a><br>
        Associate Professor
        <br>
        Department of Pediatrics and Graduate Program in Neuroscience at the University of Washington <br>
        Seattle Children's Research Institute, Center for Integrative Brain Research
      </p>
    </div>
  </section>
  <footer>
    <div class="footer-content">
      <img class="move-right" src="../images/BrandLogoHeader-UWB-white.png" alt="logo">
      <ul class="socials">
        <li><a href="https://www.facebook.com/uwbothell%22%3E%22%3E"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/UWBothell%22%3E%22%3E"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/school/university-of-washington-bothell/%22%3E%22%3E">
            <i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/user/uwbothell%22%3E%22%3E"><i class="fa fa-youtube"></i></a>
        </li>
        <li><a href="https://www.instagram.com/uw_bothell/%22%3E%22%3E"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
      <div class="footer-bottom">
        <p>&copy; Universiy of Washington | Bothell, WA</p>
      </div>
    </div>
  </footer>
</body>

</html>
<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Faculty Profile</title>
    <link href="../css/people-collaborator.css" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
  <body>
    <header class="header">
			<div class="header-container" id="header-container">
				<div class="header-container1" id="header-container1"> 
					<a href="https://www.uwb.edu" class="uwblogo" title="University of Washington Home" target="_blank">
							<img src="../images/w-logo-sprite.png" alt="uwblogo">				
					</a>
					<a href="https://www.uwb.edu" class="uwblogo1" title="University of Washington Home" target="_blank">
						<img src="../images/Wordmark_center_Purple_Hex.png" style="margin-top: 20px;" alt="uwblogotemplate">				
					</a>
				</div>
				<div>
					<form class="example" action="action_page.php">
            <i class='bx bx-key'> Login</i>
						<i class='bx bx-search'></i>
					</form>
				</div>
			</div>	
		</header>

    <nav class="main-menus" id="main-menus">
            <div class="menus-containers">
                <ul class="menus-nav">
                    <li class="menus-item"><a href="../template.html">HOME</a></li>
                    <li class="menus-item"><a href="#">RESEARCH</a></li>
                    <li class="menus-item"><a href="#">PEOPLE</a><i class='bx bx-chevron-down'></i>
                        <ul class="dropdown">
                            <li><a href="../html/core-faculty.html">Core Faculty</a></li>
                            <li><a href="../html/people-collaborator.html">Collaborator</a></li>
                        </ul>
                    </li>
                    <li class="menus-item"><a href="#">ABOUT</a><i class='bx bx-chevron-down'></i>
                        <ul class="dropdown">
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Direction</a></li>
                            <li><a href="#">Mission</a></li>
                        </ul>
                    </li>
                    </li>
                </ul>
            </div>
    </nav>

    <h1 class="title title-word">Collaborators</h1>

    

</body>
</html> -->