<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioTech | University of Washington Bothell</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css"> 
</head>
<html>
	<head>
		<title>
			BioTech | University of Washington Bothell
		</title>
	</head>
	
	<body>
			<header class="header">
				<div class="header-container" id="header-container">
					<div class="header-container" id="header-container"> 
						<a href="https://www.uwb.edu" class="uwblogo" title="University of Washington Home" target="_blank">
								<img src="../templates/images/w-logo-sprite.png" alt="uwblogo">				
						</a>
						<a href="https://www.uwb.edu/stem" title="University of Washington Home" target="_blank">
							<img src="../templates/images/BrandLogoHeader-UWB-white.png" alt="uwblogotemplate">				
						</a>
					</div>
					<div>
						<form class="example" action="action_page.php">
							<input type="text" placeholder="Search.." name="search">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>	
			</header>
	
			<nav class="main-menus" id="main-menus">
					<div class="menus-containers">
						<ul class="menus-nav">
							<li class="menus-item"><a href="#">HOME</a></li>
							<li class="menus-item"><a href="#">RESEARCH</a></li>
							<li class="menus-item"><a href="#">PEOPLE</a><i class='bx bx-chevron-down'></i>
								<ul class="dropdown">
									<li><a href="html/core-faculty.html">Core Faculty</a></li>
									<li><a href="html/people-collaborator.html">Collaborator</a></li>
								</ul>
							</li>
							<li class="menus-item"><a href="#">ABOUT</a><i class='bx bx-chevron-down'></i>
								<ul class="dropdown">
									<li><a href="#">Contact</a></li>
									<li><a href="#">Direction</a></li>
									<li><a href="#">Mission</a></li>
								</ul>
							</li>
							<li class="menus-item"><a href="#">LOGIN</a></i>
								
							</li>
						</ul>
					</div>
			</nav>

			<footer>
		
			</footer>
	</body>


</html>

