<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>iBioML | University of Washington Bothell</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/biotech/index.css' %}">
</head>

<body>

    {% include 'header/header.html' %}

    <!-- <h1>B I O I N F O R M A T I C S</h1>
    <br><br> -->

    {% include 'carousel.html' %}

    <!-- <section class="homecontent">
        <h2>{{ content.title }}</h2><br><br>
        {% for paragraph in content.paragraphs %}
        <p>{{ paragraph }}</p><br><br>
        {% endfor %}
    </section> -->
    <br>
    <section class="purple-section">
        <div class="text-container">
            <h3>iBIOML PROJECTS</h3>
            <hr>
            <p>
                Our main research area is pattern recognition in bioinformatics, especially, biological motif analysis.
                We developed various bioinformatics tools online.
            </p>

        </div>

        <div class="image-container">
            <img src="../static/biotech/images/projects.jpeg">
            <button class="view-program-btn" onclick="viewProjects()"><span class="button-text">VIEW
                    PROJECTS</span></button>
        </div>
        <script>
            function viewProjects() {
                window.location.href = 'projects/'
            }
        </script>
    </section>
    <br><br><br>
    <section class="purple-section">
        <div class="text-container">
            <h3>GENE CHAT</h3>
            <hr>
            <p>
                Discussion Board for students and collaborators to publish projects and datasets.
            </p>

        </div>

        <div class="image-container">
            <img src="../static/biotech/images/genechat.jpeg">
            <button class="view-program-btn" onclick="viewProjects()"><span class="button-text">GO TO GENE
                    CHAT</span></button>
        </div>
        <script>
            function viewProjects() {
                window.location.href = 'projects/'
            }
            function viewChat() {
                window.location.href = '#'
            }
            function viewFaculty() {
                window.location.href = 'faculty/'
            }
        </script>
    </section>

    <br><br><br>

    <h2>Watch Our Video To Learn How To Surf On This Website. </h2>

    <br><br>

    <div class="button-container">
        <button class="button-50" role="button"
            onclick="window.open('https://www.youtube.com/watch?v=qEVUtrk8_B4', '_blank');" target="_blank">
            <span class="button-text">WATCH VIDEO</span>
        </button>
    </div>
    <br><br><br><br>

    {% include 'footer/footer.html' %}
</body>

</html>