<div class="navbar">
    <div>
        {% load static %}
        <img src="{% static '../static/biotech/images/w-logo-sprite.png' %}" class="wlogo">
        <img src="{% static '../static/biotech/images/BrandLogoHeader-UWB-white.png' %}" class="uwblogo">
    </div>
    <div class="right">
        {% if user.is_authenticated %}
        <div class="circle">
            <i class="fa fa-search"></i>
        </div>
        <a href="{% url 'logout' %}">Logout</a>
        <span class="username-greeting">Hi {{ user.username }}!</span>
        {% else %}
        <div class="circle">
            <i class="fa fa-search"></i>
        </div>
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>

<style>
    .username-greeting {
        color: white;
        font-family: Encode Sans Compressed;
        font-size: 20px;
    }
</style>

<nav class="main-menus" id="main-menus">
    <div class="menus-containers">
        <ul class="menus-nav">
            <li class="menus-item"><a href="#">ABOUT</a>
                <i class="fa fa-arrow-down"></i>

                <ul class="dropdown">
                    {% load static %}
                    <li><a href="{% url 'htmlrender' %}">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="{% url 'missionrender' %}">Mission</a></li>
                </ul>
            </li>
            <li class="menus-item"><a href="#">RESEARCH</a>
                <i class="fa fa-arrow-down"></i>
                <ul class="dropdown">
                    <li><a href="{% url 'projectsrender' %}">Projects</a></li>
                </ul>
            </li>

            <li class="menus-item"><a href="#">PEOPLE</a></i>
                <i class="fa fa-arrow-down"></i>
                <ul class="dropdown">
                    <li><a href="{% url 'facultyrender' %}">Core Faculty</a></li>
                    <!-- <li><a href="{% url 'collabrender' %}">Collaborator</a></li> -->
                </ul>
            </li>
            <li class="menus-item"><a href="{% url 'generender' %}">GENE CHAT</a>
                <i class="fa fa-arrow-down"></i>
            </li>
        </ul>
    </div>
</nav>